<!DOCTYPE html>
<html>

<head>
    <!-- add favicon -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="app">
        <section>
            <img v-bind:src="'http://openweathermap.org/img/w/' + weatherData.list[activeIndex].weather[0].icon + '.png'">
 
            <h1>{{weatherData.city.name}}, {{weatherData.city.country}}</h1>
            <hr>
            <h3>{{weatherData.list[activeIndex].weather[0].description}}</h3>
            <p>{{kelvinToCelsius(weatherData.list[activeIndex].main.temp)}}°C</p>
            <P>Cloudiness: {{weatherData.list[activeIndex].clouds.all}}%</P>
            <P>Humidity: {{weatherData.list[activeIndex].main.humidity}}%</P>


        </section>
            <!-- generate weather tiles -->
        <div class="forecast-list">
            <div 
            class="forecast-item" 
            v-bind:class="{ selected: isSelected(index) }" 
            v-for="(item, index) in weatherData.list"
            v-on:click="setActive(index)"
            >
                <img v-bind:src="'http://openweathermap.org/img/w/' + item.weather[0].icon + '.png'">
                <p>{{kelvinToCelsius(item.main.temp)}}°C</p>
                <p>{{makeDayOfWeekText(item.dt)}}</p>
                <p>{{makeTimeText(item.dt)}}</p>
            </div>
        </div>

    </div>

    


    <!-- for API requests -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <script src="weather_fetcher.js"></script>
    <script src="location_finder.js"></script>

    <script src="main.js"></script>

</body>
</html>