body{
    font-family: 'Lato', sans-serif;
}

section{
    text-align: center;
    height: 250px;
    margin-top: 100px;
}

h1, h3, p{
    margin:0px;
}
hr{
    width: 50%;
}

.forecast-list{
    overflow: auto;
    white-space: nowrap;
}
.forecast-item{
    display: inline-block;
    color: white;
    background-color: #01579b;
    text-align: center;
    width: 60px;
    padding: 16px;
    text-decoration: none;
    margin: 2px;
    border-radius: 4px;
}

.forecast-item.selected{
    background-color: #4f83cc;
}